---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import AstroLogo from '~/components/AstroLogo.astro';

const posts = await getCollection('markdown');
---

<Layout>
  <AstroLogo />
  <main class="prose mx-auto p-2">
    <h3>Markdown</h3>
    <ul class="">
      {
        posts.map((post) => (
          <li>
            <a href={`/markdown/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <h3>GitHub</h3>
    <a href="https://github.com/jldec/astro-do"
      >https://github.com/jldec/astro-do</a
    >
  </main>
</Layout>
