---
import { getEntry, render } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import {
  markdownConfigDefaults,
  createMarkdownProcessor,
} from '@astrojs/markdown-remark';

// https://docs.astro.build/en/guides/content-collections/#building-for-server-output-ssr
const { id } = Astro.params;
if (id === undefined) return Astro.redirect('/404');
const post = await getEntry('markdown', id);
if (post === undefined) return Astro.redirect('/404');
const { Content } = await render(post);

// Render markdown excerpt
// Disable syntax highlighting to avoid calling createShikiInternal in Cloudflare Workers.
const processor = await createMarkdownProcessor({
  ...markdownConfigDefaults,
  syntaxHighlight: false,
});
const result = await processor.render(post.data.excerpt, {
  frontmatter: post.data,
});
console.log(`rendered excerpt: ${post.data.excerpt}`);
const excerptHtml = result.code;
---

<Layout title={post.data.title}>
  <article class="prose mx-auto p-4">
    <h1>{post.data.title}</h1>
    <div set:html={excerptHtml} />
    <a href="/" class="mt-4">&lt;&lt; Back</a>
    <Content />
  </article>
</Layout>
